form.form-horizontal

	legend Cadastro de cervejarias
	h5 {{ msg }}

	div.form-group
		label.control-label.col-sm-2
			| Nome:
		div.col-sm-4
			input.form-control(type="text", data-ng-model="brewery.name")

	div.form-group
		label.control-label.col-sm-2
			| Cidade:
		div.col-sm-4
			input.form-control(type="text", data-ng-model="brewery.city")

	div.form-group
		label.control-label.col-sm-2
			| Estado:
		div.col-sm-4
			input.form-control(type="text", data-ng-model="brewery.state")
	
	div.form-group
		label.control-label.col-sm-2
			| País:
		div.col-sm-4
			input.form-control(type="text", data-ng-model="brewery.country")

	div.form-group
		div.col-sm-offset-2.col-sm-4
			button.btn.btn-success(data-ng-click="create(brewery)")
				| Salvar