h2 Listagem Cervejas

table.table.table-striped
	tr
		th Nome
		th Categoria
		th Preço
		th Ações

	tr(data-ng-repeat='beer in beers')
		td 
			a(href="/beers/{{beer._id}}") {{beer.name}}
		td 
			{{beer.category}}
		td 
			{{beer.price}}
		td 
			button.btn.btn-danger(data-ng-click="delete(beer)")
				| Deletar

